@charset "utf-8";

footer {
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer .belt {
    height: 2px;
}

footer .index {
    height: 300px;
    background: #e1e1e1;
}

footer .foot {
    padding: 10px 0;
    font-size: 10px;
    text-align: center;
    color: #e1e1e1;
}