@charset "utf-8";

#module_menu {
    display: block;
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
}

#module_menu ul {
    display: block;
}

#module_menu li {
    display: block;
}

#module_menu a {
    display: block;
    color: #666;
    padding: 3px 0 3px 15px;
    border-bottom: solid 1px #e1e1e1;
}

#module_menu .active, #module_menu a:hover {
    color: #0060ff;
}

#module_menu .roll li a {
    padding-left: 40px;
}

#module_menu .roll li a:hover {
}