@charset "utf-8";

/* CSS Document */
/* 12.12.2016 */
/* Krzysztof Abram */

.uploadAvatar { 
    display: block; 
    margin: 0; 
    padding: 0;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    top: -55px;
    z-index: 99;
}
.progressbar { 
    position: relative; 
    background-color: #39F; 
    width: 0%; 
    height: 3px;
    display: none;
}
.percent { 
    position:absolute; 
    display:inline-block; 
    top: -20px; 
    left:48%; 
}

#getAvatar { 
    display: none; 
    float: left;
}

#submit { 
    display: block; 
    float: left; 
    margin: 0 10px; 
}

.avatar_panel {
    display: block;
    text-align: center;
    overflow: hidden;
}
#status {
	width: 100%;
	overflow: hidden;
}

.uploadAvatarButton {
	display: inline-block;
	font: 18px 'OpenSansLight';
	color: #fff;
	background: #5af;
	padding: 5px 10px;
	border: solid 1px #39f;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.uploadAvatarButton:hover {
	color: #5af;
	background: #fff;
	cursor: pointer;
}